<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改岗位')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-type-edit" th:object="${bulletinType}">
        <input id="typeId" name="typeId" type="hidden" th:field="*{typeId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">公告名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="typeName" id="typeName" th:field="*{typeName}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label ">公告描述：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="typeDesc" id="typeDesc" th:field="*{typeDesc}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">显示顺序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="typeSort" id="typeSort" th:field="*{typeSort}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "bulletin/type";

    $("#form-type-edit").validate({
        onkeyup: false,
        rules:{
            typeName:{
                remote: {
                    url: ctx + "bulletin/type/checkPostNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "typeId": function() {
                            return $("input[name='typeId']").val();
                        },
                        "typeName" : function() {
                            return $.common.trim($("#typeName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            postSort:{
                digits:true
            },
        },
        messages: {
            "typeName": {
                remote: "公告名称已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-type-edit').serialize());
        }
    }
</script>
</body>
</html>
